.root {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: transform;

  .center,
  .sticky {
    float: left;

    > div {
      box-sizing: border-box;
      overflow: hidden;
    }
  }

  .sticky {
    position: sticky;
    width: 0;
    z-index: 1;
  }
}

.guidelines {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;

  > div {
    position: absolute;
    box-sizing: border-box;
  }
}

.center,
.sticky {
  float: left;
}

.sticky {
  position: sticky;
  width: 0;
  z-index: 1;
}
